* {
  padding: 0;
  margin: 0;
  font-family: monospace;
  scroll-behavior: smooth;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ff6767;
  border-radius: 100px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 0, 0, 0.73);
}

body {
  background-color: rgb(236, 227, 227);
  overflow-x: hidden;
}

h1 {
  color: rgb(38, 178, 221);
  margin-bottom: 1rem;
  text-align: center;
}

table,
th,
td {
  border: 0.5px solid black;
  border-collapse: collapse;
  text-align: center;
  padding: 10px;
  margin: 5px;
}

.main {
  width: 100vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mainUser {
  width: 100vw;
  min-height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}

.mainUser table,
tr,
td,
th {
  border: 2px rgb(56, 56, 56) solid;
}

.headUser {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px rgb(101, 101, 101) dotted;
}

.headUser h1 {
  text-align: center;
  width: 80%;
  padding: 7px 0;
  margin: 0;
  color: rgb(40, 40, 40);
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}

.form h1 {
  color: rgb(255, 61, 61);
  margin-bottom: 2rem;
  text-align: center;
  text-decoration: underline dotted red;
}

.form h5 {
  margin-top: 0.6rem;
}

.form h5 a {
  text-decoration: none;
  color: rgb(255, 86, 86);
}
/* 
input[type="text"] {
  padding: 5px;
  margin: 5px;
}

input[type="password"] {
  padding: 5px;
  margin: 5px;
} */

button[name="button-add"]:hover {
  background-color: rgb(131, 209, 58);
}

button[name="button-delete"]:hover {
  background-color: rgb(218, 90, 67);
}

div[name="reveal-btn"] {
  height: 2rem;
  width: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 1rem;
}

div[name="reveal-btn"]:hover {
  background-color: rgb(122, 228, 65);
  cursor: pointer;
}

.settings{
  display: flex;
  flex-direction: row;
  border: none;
  outline: none;
  justify-content: space-between;
  padding: 5px;
}

button[name="button-clear"]:hover {
  background-color: rgb(241, 48, 14);
}

.btnSubmit,
.btnRegister,
.btnLogout {
  border: none;
  width: 18rem;
  height: 2.5rem;
  margin: 0.5rem;
  padding: 5px;
  background-color: rgb(116, 230, 247);
  color: rgb(37, 37, 37);
  font-size: 15px;
  transition: 500ms;
  border-radius: 4px;
}

.btnSubmit:hover,
.btnRegister:hover,
.btnLogout:hover {
  cursor: pointer;
  background-color: rgb(255, 125, 113);
}

.btnLogout {
  width: 5rem;
}

footer {
  width: 100vw;
  background-color: rgb(236, 227, 227);
  /* min-height: 5vh; */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 0;
}

footer a {
  margin: 0 10px;
  text-decoration: none;
  color: rgb(243, 87, 87);
}

.infoBox {
  width: 17rem;
  padding: 5px;
  outline: none;
  margin-bottom: 0.5rem;
}

.btnFunc {
  background: transparent;
  outline: none;
  border: none;
  width: 2rem;
  height: 2rem;
}

.btnFunc:hover {
  cursor: pointer;
}

.showBox {
  outline: none;
  border: none;
  background: transparent;
  text-align: center;
  width: 100%;
}
