<%- include('partials/header') %>

<div class="main">
    <form action="/" method="post" class="form">
        <h1>Password Manager</h1>
        <button type="submit" name="button-register" class="btnSubmit">Register new user</button>
        <button type="submit" name="button-login" class="btnSubmit">Login to existing account</button>
    </form>
</div>

<%- include('partials/footer') %>
